:root {
  --primary-color: #7f5a42;
  --secondary-color: #73002a;
  --tertiary-color: #587b7f;
  --quartery-color: #efd2cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.1rem;
}

a:hover {
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
}

html {
  max-width: 1920px;
  margin: auto;
}

h1 {
  margin: 0;
  color: var(--secondary-color);
}

.container {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--quartery-color);
  bottom: auto;
  left: 0;
  margin: 0;
  min-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#hero {
  width: 100vw;
}
