* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bs-body-color: #333;
  --bs-body-font-family: 'Roboto', sans-serif;
}

html {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f5f8fa;
}

body {
  min-height: 100vh;
}

.hero {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

.footer-list {
  list-style-type: none;
}

.container-photo-section {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-photo {
  width: 25%;
}

h1 {
  margin: 0 0 24px;
  color: #333;
  font-size: 56px;
  line-height: 1.2em;
  font-weight: 500;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
}

h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  color: #2f7393;
  font-weight: 300;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
}

a {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
}

.content-wrapper {
  min-height: 100vh;
}

.mt72 {
  margin-top: 72px;
}

.footer-image {
  width: 100px;
}

.test {
  width: 100%;
  background-color: red;
}
