:root {
  --primary-color: #25283d;
  --secondary-color: #fdfdfd;
  --tertiary-color: #587b7f;
  --quartery-color: #efd2cb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bs-body-color: #333;
  --bs-body-font-family: 'Roboto', sans-serif;
}

html {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f5f8fa;
}

body {
  min-height: 100vh;
}

.hero {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
}

.footer-list {
  list-style-type: none;
}

.container-photo-section {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-photo {
  width: 25%;
}

.logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
}

a {
  background-color: transparent;
  color: #333;
  text-decoration: underline;
}

.content-wrapper {
  min-height: 100vh;
}

.mt72 {
  margin-top: 72px;
}

.footer-image {
  width: 100px;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 600px;
}

footer {
  height: 260px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer a {
  color: var(--secondary-color);
}

/* 
Bootstrap breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/

h1 {
  margin: 0 0 24px;
  color: #333;
  font-size: 56px;
  line-height: 1.2em;
  font-weight: 500;
}

h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
}

h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  color: #2f7393;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4,
  p {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
}
